body {
    margin: 20px;
}

p{
    font-size: 20px;
    color: green;
}

h1{
    background-color: green;
    color: white;
}
 
button {
    background-color: green;  
    color: white;
    padding: 10px;
}
 
li {
    padding: 5px;
    margin: 5px;
    border: 1px solid green;
}